<div *ngIf="!id">Creando</div>
<div *ngIf="id">Editando</div>
<h3>Add a New Recipe</h3>
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name" class="">Name</label>
            <input type="text" class="form-control" formControlName="name"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description" class="">Description</label>
            <textarea name="description" rows="6" class="form-control" formControlName="description"></textarea>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image" class="">Image URL</label>
            <input type="text" class="form-control" formControlName="imagePath"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="image-responsive" alt="">
        </div>
      </div>
      <div class="row">
       <div class="col-xs-12">
        <label for="ingredient">Ingredients</label>
        <div class="row">
            <div class="col-xs-8">
                <input type="text" class="form-control">
            </div>
            <div class="col-xs-2">
                <input type="number" class="form-control">
            </div>
            <div class="col-xs-2">
                <button class="btn btn-danger">X</button>
            </div>
        </div>
       </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
  </div>
</div>
