<h3>Add a New Recipe</h3>
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name" class="">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name"/>
          </div>
          <p *ngIf="recipeForm.get('name').hasError('required') && recipeForm.get('name').touched">The Name is Required</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description" class="">Description</label>
            <textarea name="description" id="description" rows="6" class="form-control" formControlName="description"></textarea>
            <p *ngIf="recipeForm.get('description').hasError('required') && recipeForm.get('description').touched">The Description is Required</p>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image" class="">Image URL</label>
            <input type="text" id="image" class="form-control" formControlName="imagePath"/>
          </div>
          <p *ngIf="recipeForm.get('imagePath').hasError('required') && recipeForm.get('imagePath').touched">The Image is Required</p>
        </div>
      </div>
      <div class="row" *ngIf="imageForm">
        <div class="col-xs-12">
          <img [src]="imageForm" class="image-responsive" alt="Image">
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
       <div class="col-xs-12"  formArrayName="ingredients">
        <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
        <div style="margin-top: 10px;" class="row" *ngFor="let ingredient of getControls(), let i = index" [formGroupName]="i">
            <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
                <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
                <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
        </div>
       </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12">
            <button style="margin-right: 10px;" [disabled]="!recipeForm.valid" type="submit" class="btn btn-primary">Submit</button>
            <button  type="button" class="btn btn-danger" (click)="onClear()">Clear</button>
        </div>
    </div>
    </form>
  </div>
</div>
