<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe?.imagePath}}" alt="{{recipe?.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe?.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toogle" type="button">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <a style="cursor: pointer;" (ingredientsArray)="onAddToShoppingList($event)">Add Shopping List</a>
                </li>
                <li>
                    <a style="cursor: pointer;" [routerLink]="['edit']">Edit Recipe</a>
                </li>
                <li>
                    <a style="cursor: pointer;">Delete Recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description: {{recipe?.description}}
    </div>
</div>
<div class="row" *ngIf="recipe">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item flex" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} ({{ingredient.amount}}uds)
                <app-button-ingredient [ingredient]="ingredient" (ingredientsArray)="onAddToShoppingList($event)"></app-button-ingredient>
            </li>
        </ul>
    </div>
</div>
